@font-face {
    font-family: "JANNAT";
    src: url('../fonts/JANNAT/A-JANNAT-LT-BOLD.woff2');
    font-weight: 700;
}

@font-face {
    font-family: "JANNAT";
    src: url('../fonts/JANNAT/A-JANNAT-LT.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "JANNAT";
    src: url('../fonts/JANNAT/A-JANNAT-LT-BOLD.woff2');
    font-weight: 900;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "JANNAT" , sans-serif ;
    scroll-behavior: smooth;

    &::selection{
        background-color: #24103E;
        color: #fff; 
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ccc;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #24103E; 
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #24103E; 
    }
}

.overflowNone{
    overflow: hidden;
}

body {
    background-color: #FCFCFC;
}

a[type="button"],
button[type="button"],
button,
.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    border: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.swiper-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 33px;
      height: 3px;
      background-color: rgba($color: #fff, $alpha: 0.20);
      border-radius: 2px;

      &.swiper-pagination-bullet-active {
        opacity: 1 !important;
        background-color: var(--light-color);
      }
    }
}