@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .button-contain {
      .custom-btn, .lang, .cart {
        width: 45px !important;
        height: 45px !important;

        img {
          display: block !important;
          margin: 0px !important;
        }
      }

      .custom-btn {
        span {
          display: none;
        }
      }
    }

    .brand-name img {
      width: 100px !important;
    }

    &.scrolled {
      .navbar-nav {
        top: 100px;
      }
    }

    .navbar-nav {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 120px;
      right: -100%;
      z-index: 99;
      background-color: var(--primary-color);
      flex-direction: column !important;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      padding: 20px 10px;
      transition: all .3s linear;

      li {
        margin-bottom: 20px;

        a {
          &::after {
            right: 0px;
            left: unset !important;
          }
        }
      }

      &.active-nav {
        right: 0px;
      }
    }
  }

  header {
    .contain {
      width: 100%;

      h1 {
        font-size: 25px !important;

        span {
          font-size: 25px !important;
        }
      }

      p {
        margin: 20px 0px !important;
      }
    }

    .image-content {
      height: 300px !important;
    }
  }

  .about-us {
    .nav li a span {
      font-size: 15px !important;
    }

    .contain {
      padding: 30px 15px !important;
    }
  }

  .general-section {
    padding-top: 40px;
  }

  .heading {
    margin-bottom: 40px;
  }

  .banner .banner-contain {
    padding: 20px 10px;
    
    .contain {
      padding: 20px 15px;

      h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
      }
    }
  }

  .contact-us {
    padding-bottom: 40px;

    .contact-title {
      font-size: 25px !important;
      margin-bottom: 40px;

      span {
        font-size: 25px !important;
      }
    }

    .contact-data {
      padding: 30px 15px;

      &::after {
        width: 100%;
        height: 20%;
      }

      .contact-info {
        padding: 0px 20px;

        li {
          flex-direction: column;
          padding: 15px 0px;

          .contain {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }

    .form-contain {
      padding: 0px 0px;
    }
  }

  footer {
    padding-top: 40px;

    .footer-padding {
      padding: 0px !important;
    }

    .coprights {
      flex-direction: column;

      .techno-logo {
        margin-top: 10px;
      }
    }
  }

  .login {
    padding-bottom: 40px;

    .contain {
      padding: 30px 15px;

    }
  }

  .mobile-hidden {
    display: none;
  }

  .all-products {
    padding-bottom: 40px;
  }
}